/* navbar.css */
:root {
	--mainColorNavbar: black;
	--mainColorLightNavbar: #5767aa;
	--secondaryColorNavbar: rgb(219, 43, 187);
	--textColorNavbar: #eee;
}

header {
	height: 80px;
	background-color: var(--mainColorNavbar);
	color: var(--textColorNavbar);
	border-bottom: 3px groove #eee;
	/* border-bottom: 3px double #eee; */
}

.navbar {
	display: flex;
	justify-content: space-between; 
	align-items: center;
	padding: 0 2rem; 
}

.logo {
	font-size: calc(1em + 1vmin);
	animation-name: animate;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@keyframes animate {
	0% {
	  filter: drop-shadow(0px 0px 1px #fff)
	  drop-shadow(0px 0px 3px #04085d)
	  drop-shadow(0px 0px 5px rgb(97, 90, 182))
	  /* drop-shadow(0px 0px 30px #ff4d94) */
	  /* drop-shadow(0px 0px 50px #ff0066); */
	}
  
	100% {
	  filter: drop-shadow(0px 0px 3px #04085d)
	  drop-shadow(0px 0px 6px #04085d)
	  drop-shadow(0px 0px 5px rgb(97, 90, 182))
	  /* drop-shadow(0px 0px 40px #ff4d94) */
	  /* drop-shadow(0px 0px 60px #ff0066);  */
	}
  }
  
.nav-a {
	margin: 0 1rem;
	color: var(--textColorNavbar);
	text-decoration: none;
	cursor: pointer;
}

.nav-a:hover {
	color: var(--secondaryColorNavbar);
	cursor: grab;
}
.nav-a:active {
	cursor: grabbing;
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColorNavbar);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

nav {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 767px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColorNavbar);
		transition: 1s;
		z-index: 1000;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.nav-a {
		font-size: 1.5rem;
	}
	.nav-btn svg
	 {
		font-size: 16px;
		display: flex;
		align-self: flex-start;
	}
	
}
