/* navbar.css */
:root {
	--mainColorNavbar: black;
	--secondaryColorNavbar: rgb(190, 230, 255);
	/* --textColorNavbar: #eee; */
	--textColorNavbar: white;
}
.middle {
	display: flex;
	align-items: center;
}
.navbar {
	display: flex;
	justify-content: space-between; 
	align-items: center;
	padding: 0 2rem; 
	height: 80px;
	background-color: var(--mainColorNavbar);
	color: var(--textColorNavbar);
}

 .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColorNavbar);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}
.nav-a {
	margin-inline-end: 1rem;
	color: var(--textColorNavbar);
	text-decoration: none;
	cursor: pointer;
}

.nav-a:hover {
	color: var(--secondaryColorNavbar);
	cursor: grab;
}
.nav-a:active {
	cursor: grabbing;
}

.nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColorNavbar);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

.logo {
	font-size: calc(1em + 1vmin);
	animation-name: animate;
	animation-duration: 0.8s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	text-decoration: none;
}

/* ANIMATION */

@keyframes animate {
	0% {
	  filter: drop-shadow(0px 0px 1px #fff)
	  drop-shadow(0px 0px 3px #04085d)
	  drop-shadow(0px 0px 5px rgb(97, 90, 182))
	}
  
	100% {
	  filter: drop-shadow(0px 0px 3px #04085d)
	  drop-shadow(0px 0px 6px #04085d)
	  drop-shadow(0px 0px 5px rgb(97, 90, 182))
	}
  }

/* Medium devices (landscape tablets, 767px and down) */
@media only screen and (max-width: 767px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColorNavbar);
		transition: 1s;
		z-index: 1000;
	}

	.responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

	.nav-a {
		font-size: 16px;
		cursor: pointer;
	}
	.nav-a:hover {
		cursor: pointer;
	}
	.nav-a:hover {
		cursor: grabbing;
	}
	.nav-btn svg
	 {
		font-size: 16px;
		display: flex;
		align-self: flex-start;
	}
	
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.nav-a {
		font-size: 14px;
	}
}