/* SkillsSlider.css */
.skills-slider {
    display: flex;
    animation: slide 20s linear infinite;
  }
  
  .skill-item {
    padding: 5px 20px;
    margin: 0 5px;
    opacity: 0.8;
    display: inline;
    max-width: none;
  }
  
  .skill-name {
    margin-top: 8px;
    font-size: 12px;
    max-width: fit-content;
    display: inline;

  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* PULSING ELEMENTS */

  .pulsing-element {
    color: #fff;
    display: inline;
    background-color: transparent;
    font-size: calc(9px + 1vmin);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
  }

.pulsing-box-shadow { 
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe; 
}
