
  .threeD {
    color: #591385;
    color: #861dc8;
    white-space: nowrap;
    font-size: 2.8em;
    letter-spacing: 0.1em;
    transition: 0.3s;
    text-shadow: 1px 1px 0   #7719b2, 1px 2px 0   #68169b, 1px 3px 0   #591385, 1px 4px 0   #4a106f,
      1px 5px 0 #3b0d58, 1px 6px 0 #2c0942,
      5px 13px 15px #5832bf;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .threeD:hover {
    transition: 0.3s;
    text-shadow: 1px -1px 0 #3b217f, 1px -2px 0 #3b217f, 1px -3px 0 #5832bf,
      1px -4px 0 #5832bf, 1px -5px 0 #6438d8, 1px -6px 0 #6438d8, 1px -7px 0 #7643ff,
      1px -8px 0 #7643ff, 5px -13px 15px black, 5px -13px 25px #5832bf;
  }
  
  /* Kudos to Ashis Anand for sharing the threeD code that I partly used in this project: https://codepen.io/anotherwebguy/pen/zmGrrz */

.universalBackground {
    /* background: rgb(211,211,211); */
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(118,67,255,0.6412103746397695) 100%);
}

.universalFont {
  font-family: 'Montserrat', sans-serif;
}

  /* PULSING ELEMENTS */

  .pulsing-element {
    color: #fff;
    display: inline;
    background-color: transparent;
    font-size: calc(9px + 1vmin);
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #5271ff,
        0 0 82px #5271ff,
        0 0 92px #5271ff,
        0 0 102px #5271ff,
        0 0 151px #5271ff;
  }

.pulsing-box-shadow { 
  box-shadow: 0 0 .2rem #fff,
              0 0 .2rem #fff,
              0 0 2rem #bc13fe,
              0 0 0.8rem #bc13fe,
              0 0 2.8rem #bc13fe,
              inset 0 0 1.3rem #bc13fe; 
}
.pulsing-h1 {
  font-size: calc(16px + 1vmin);
  cursor: pointer;
}
.pulsing-h1-main:hover, .pulsing-h1:hover {
    animation: pulsateH1 1.5s infinite alternate;  
}

@keyframes pulsateH1 {
  100% {
    text-shadow:
      0 0 10px #fff,
      0 0 20px #fff,
      0 0 30px #fff,
      0 0 60px #3F00FF,
      0 0 120px #3F00FF,
      0 0 140px #3F00FF,
      0 0 150px #3F00FF,
      0 0 200px #3F00FF;
  }
  0% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #fff,
      0 0 30px #3F00FF,
      0 0 70px #3F00FF,
      0 0 80px #3F00FF,
      0 0 100px #3F00FF,
      0 0 120px #3F00FF;
  }
}

