
.pH1 {
    text-align: center;
    margin-block-start: 40px;
}

.projects-list {
    list-style: none;
    padding: 0;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    gap: 20px;
    margin: auto auto;
}

.projects-container {
    display: grid;
    max-width: 1366px;
    width: 100%;
    grid-gap: 20px;
    margin: auto auto;
}

/* CARD */

.project {
    background-color: #EBECF0;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 20px;
    color: black;
    text-align: center;
    list-style: none;
    overflow: hidden;
    display: grid;
    gap: 1px;
    grid-template-rows: min-content min-content 1fr min-content min-content; 
    box-shadow: 5px 5px 10px #3F00FF;
    /* max-width: 200px; */
}

.project h2 {
    height: 4vh;
    margin-block-end: 40px;
    grid-row: 1;
    text-shadow: 1px 1px 1px whitesmoke,
        1px 2px 1px #b1b1b1,
        1px 3px 1px #c7c6c6;
}

.project-img-container {
    height: 210px;
  }

.project-img-container img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    grid-row: 2;
    /* border: 1px solid black; */
    border-radius: 8px;
}

.project p {
    grid-row: 3;
    padding-top: 0;
    margin-top: 0;
    align-self: start; 
    text-align: center;
}

.project button {
    grid-row: 5;
}

.project h5 {
    grid-row: 4;
    margin-block: 0;
    padding-block-end: 5px;

}

.pButton {
    box-shadow: -2px -2px 5px lightslategray, 2px 2px 5px lightslategray;
    cursor: pointer;
    font-weight: 600;
    border-radius: 8px;
    padding-block: 5px;
    outline: none;
    border: none;
    color: blue;
  }
  
  .pButton:active {
    box-shadow: inset 1px 1px 2px var(--color-shadow), inset -1px -1px 2px var(--color-white);
    cursor: grabbing;
  }

@media only screen and (min-width: 40em) {
  
}

/* Extra small devices (phones, 280px and down) */
@media only screen and (max-width: 280px) {
    .project {
        max-width: 220px;
        gap: 0px;
    }
    .pH1 {
        margin-block-start: 10px;
    }
    .project-img-container {
        height: 160px;
    }
    .project-img-container img{
        width: 100%;
        max-width: 200px;
        height: auto;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 281px) {
    .project {
        max-width: 340px;
        gap: 0px;
    }
    .pH1{
        margin-block-start: 10px;
    }
    .project-img-container {
        height: 160px;
        padding-block-end: 10px;
    }

    .project-img-container img{
        width: 100%;
        max-width: 230px;
        height: auto;
    }
    .project h2 {
        margin-block-end: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .project {
        max-width: 300px;
        gap: 0px;
    }
    .projects-container {
        gap: 5px;
    }
    .pH1 {
        margin-block: 20px;
    }
    .project-img-container {
        height: 160px;
    }
    .project-img-container img{
        width: 100%;
        max-width: 230px;
        height: auto;
    }
    .projects-list {
        grid-template-columns: 1fr 1fr;
    }
    .project h2 {
        padding-block-end: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .projects-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .project {
        max-width: 330px;
    }
 
    .project-img-container {
        height: 160px;
    }
    .project-img-container img{
        width: 100%;
        max-width: 230px;
        height: auto;
    }
    .project h2 {
        padding-block-end: 15px;
    }
}