
h1 {
  text-align: center;
  line-height: 1.5; 
  margin: 0;
}

.shopping-cart ul {
    display: flex;
    flex-direction: row;
}

.skills li, 
.shopping-cart li {
  list-style-type: none;
  border: 1px solid transparent;
  width: 150px;
  height: 120px;
  display: inline-block;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  background-color: lightgrey;
  color: #591385;
  font-weight: 900;
  letter-spacing: 1px;
  box-shadow: 10px 10px 10px black;
  position: relative; 
  text-shadow: 3px 3px 3px #919191,

}
.shopping {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
  }
  
  .shopping button {
    display: none; 
  }
  
  .shopping button:enabled {
    display: inline-block;
  }

  .skills-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* background: rgb(211,211,211);
    background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(89,19,133,0.6412103746397695) 100%);
    background: linear-gradient(90deg, rgba(211,211,211,1) 0%, rgba(118,67,255,0.6412103746397695) 100%); */
    padding-top: 15px;
  }
  
  .skills {
    flex: 2;
  }

  .shoppingCartButton {
    position: absolute;
    bottom: 5px; 
    right: 5px; 
    background-color: transparent;
    border: none;
    cursor: grab;
    color:rgb(89, 19, 133);
    color: white;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.shoppingCartButton:active {
    position: absolute;
    bottom: 5px; 
    right: 5px; 
    background-color: transparent;
    border: none;
    cursor: grabbing;
}

.shopping-cart ul {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
  .skills-container {
    flex-direction: column;
    align-items: center;
  }

  .skills,
  .shopping {
    width: 100%;
  }
}

.skills-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 10px 100px / 120px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 1000;
  display: none; 
}

.skills-message p {
  margin: 0;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.skills-message.active {
  display: block;
  animation: fadeInOut 2s ease-in-out; 
}

.skills-hidden {
  display: none;
}

