.home {
    position: relative;
    overflow: hidden; 
    height: 80vh;
    background-color: #EBECF0;
    color: white;
    font-family: 'Montserrat', 'sans-serif';
    background: linear-gradient(165deg, #2c3e50, #3498db);
    background: linear-gradient(165deg, rgba(44,62,80,1) 0%, rgba(45,70,94,1) 3%, rgba(45,73,98,1) 4%, rgba(46,79,107,1) 6%, rgba(46,82,111,1) 7%, rgba(47,91,125,1) 10%, rgba(47,94,129,1) 11%, rgba(47,97,133,1) 12%, rgba(48,108,151,1) 15%, rgba(48,112,157,1) 16%, rgba(49,120,169,1) 18%, rgba(50,126,179,1) 21%, rgba(50,130,185,1) 23%, rgba(50,134,191,1) 25%, rgba(50,135,192,1) 27%, rgba(50,135,192,1) 29%, rgba(50,135,192,1) 32%, rgba(50,136,193,1) 35%, rgba(50,137,194,1) 38%, rgba(50,137,195,1) 40%, rgba(50,137,196,1) 43%, rgba(50,138,197,1) 47%, rgba(50,138,198,1) 50%, rgba(51,139,200,1) 54%, rgba(51,140,202,1) 57%, rgba(51,142,204,1) 62%, rgba(51,143,206,1) 67%, rgba(51,146,210,1) 75%, rgba(51,148,214,1) 88%, rgba(52,152,219,1) 100%);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text-wrapper {
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    }
  .hH1 {
  margin: 20px;
  color: white;
  text-align:left;
  font-size: calc(20px + 1vmin);
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  }
  .hH1 {
    text-align: left;
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-top: 30px;
  }

  /* home img style */
  .himg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    transition: filter 0.3s ease-in-out;
  }
  .himg:hover {
    filter: brightness(110%);
  }

  /* Typewriter Component Styles */
  .typewriter {
    font-size: 1.8rem;
    margin-inline-start: 20px ;
    /* margin-top: 230px; */
    /* margin-inline-start: 20px; */
    color: #ecf0f1;
    text-align: center;
    font-weight: 700;
    z-index: 5;
    text-shadow: 2px 2px 2px black;
  }
  @keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
  }

    /* expanding colorful container */
    .expanding-container {
        position: absolute; 
        right: 0;
        bottom: 0;
        height: 50%; 
        width: 100vw; 
        overflow: hidden;
        transition: all 2.5s ease-in-out;
        z-index: 0; 
        animation: horizontal-shaking 0.15s 10 20s;
        cursor: pointer;
        clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
      }
      
      .expanding-container:hover {
        width: 200%; 
        height: 200%;
        transition: all 2.5s ease-in-out; /* Reset transition on hover */
        z-index: 0;
      }
      